PyPDF2==1.26.0
python-dotenv==0.18.0
streamlit==1.32.2
openai==0.10.1
faiss-cpu==1.7.0
altair==4.1.0
python-docx==0.8.11
python-pptx==0.6.21
beautifulsoup4==4.10.0
langchain-google-genai==0.0.7
pypandoc==1.6.3
tiktoken==0.4.0
pydantic==1.9.0
langchain==0.1.13

# uncomment to use instructor embeddings
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2

